.progress-steps {
  display: flex;
  flex-direction: column; /* Default: Vertical layout */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
  margin: 50px 0 0 3.875rem;
  padding-top: 50px;

  .step {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    .circle {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid #66c9a9;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;

      .checkmark {
        font-size: 14px;
        color: #66c9a9;
        font-weight: bold;
      }

      .dot {
        width: 6px;
        height: 6px;
        background-color: #E7F5F1;
        border: 2px solid #EAECF0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .small-dot {
        width: 1px;
        height: 1px;
        background-color: #EAECF0;
        border-radius: 50%;
      }
    }

    &.completed .circle {
      background-color: #E7F5F1;

      .checkmark {
        color: #3C8A6B;
      }

      .dot {
        background-color: #3C8A6B;
      }
    }
  }

  .line {
    width: 2px;
    height: 60px;
    background-color: #EAECF0;
  }

  @media (max-width: 768px) {
    flex-direction: row; /* Horizontal layout on mobile */
    justify-content: space-between;
    align-items: center;

    .step {
      flex-direction: column; /* Ensure step content remains centered */
      width: auto; /* Adjust width for horizontal layout */
    }

    .line {
      width: 60px; /* Adjust line width for horizontal layout */
      height: 2px; /* Change line height for horizontal layout */
    }
  }
}
