
.login-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .image-container {
    flex: 1;
    max-width: 700px;
    height: 864px;
    display: block;
    background: #F5F0EC;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
  }

  .image {
    width: 556px;
    height: 720px;
    border-radius: 30px;
  }
  
  .login-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 6.875rem;
    background-color: #FFFF;
  }

  .form {
    width: 360px;
    height: 356px;
    gap: 40px;
  }

  @media (max-width: 768px) {
    .login-wrapper {
      flex-direction: column;
    }
  
    .login-image {
      display: none;
    }
  
    .login-container {
      width: 100%;
      max-height: fit-content;
    }
  }
  
  .back-home {
    display: inline-block;
    margin-bottom: 1rem;
    color: #333;
    text-decoration: none;
    position: absolute;
    top: 3%;
    left: 55%;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  p {
    color: #6c757d;
    margin-bottom: 1rem;
  }
  
  .password-group {
    position: relative;
  }
  
  .password-wrapper {
    position: relative;
    width: 100%;
  }
  
  #password-input {
    width: 83%;
    padding-right: 2.5rem;
    transition: width 0.3s ease;
  }
  
  .eye-icon {
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333;
  }
  
  .fingerprint-icon {
    position: absolute;
    right: 0.5rem;
    top: 60%;
    transform: translateY(-50%);
    background: #F6FEFC;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #429875;
    font-size: 1.75rem;
    cursor: pointer;
  }
  
  .btn-login {
    background-color: #75C799;
    color: white;
    width: 100%;
    padding: 0.75rem;
    border: none;
    margin-top: 1rem;
  }
  
  .btn-login:hover {
    background-color: #66b88d;
    outline: none;
    box-shadow: none;
  }
  
  .forgot-password {
    display: block;
    text-align: right;
    color: #429875;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    text-decoration: none;
  }
  
  .sign-up-link {
    text-align: center;
    margin-top: 1rem;
  
    a {
      color: #429875;
      text-decoration: none;
    }
  }
  
  .remember-me-group {
    margin-top: 1rem;
  }
  
  .lat {
    font-size: 10px;
    color: #667085;
    margin-top: 0;
  }
  