.verify-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0 20px;
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
  }
}

.image-container {
  flex: 1;
  max-width: 700px;
  height: 864px;
  display: block;
  background: #F5F0EC;
  justify-content: center;
  text-align: center;
  padding-top: 50px;

  @media (max-width: 768px) {
    display: none;
  }
}

.image {
  width: 556px;
  height: 720px;
  border-radius: 30px;
}

.verify-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    margin-top: 0;
    padding-top: 0;
  }
}

.form {
  width: 100%;
  max-width: 360px;
  height: auto;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0; 

  @media (max-width: 768px) {
    padding: 0;
  }
}

.code-container {
  display: flex;
  width: 343px;
  align-items: center;
  justify-content: center;
}

.code-input {
  width: 40px;
  margin: 7px;
}

#modal-logo {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.back-home {
  display: inline-block;
  margin-bottom: 1rem;
  color: #333;
  text-decoration: none;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 768px) {
    position: static;
    transform: none;
    margin-bottom: 0.5rem;
  }
}

.signup-link {
  text-align: center;
  margin-top: 1rem;
  color: #429875;

  a {
    color: #429875;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    margin-top: 0.2rem;
  }
}

.btn-login {
  background-color: #75C799;
  color: white;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #75C799;
  border-radius: 10px;
  margin-top: 1rem;

  @media (max-width: 768px) {
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
}

.btn-login:hover {
  background-color: #66b88d;
  outline: none;
  box-shadow: none;
}
